<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
</head>
<body>
<h1>게시판</h1>
<a th:href="@{/post}" style="margin-left: 20px;">
    <button type="button">작성하기</button>
</a>
<!-- 전체 게시판 목록 출력 -->
<h2>전체 게시판</h2>
<ul>
    <li th:each="post : ${boardAll}">
        <a th:href="@{/postone/{post_id}(post_id=${post.post_id})}" th:text="${post.title}"></a> -
        <span th:text="${post.user_id}">작성자</span> -
        <span th:text="${post.created_at}">작성일</span>
    </li>
</ul>

<!-- 공지사항 게시판 목록 출력 -->
<h2>공지사항</h2>
<ul>
    <li th:each="post : ${boardNotice}">
        <a th:href="@{/postone/{post_id}(post_id=${post.post_id})}" th:text="${post.title}"></a> -
        <span th:text="${post.user_id}">작성자</span> -
        <span th:text="${post.created_at}">작성일</span>
    </li>
</ul>

<!-- 자유게시판 목록 출력 -->
<h2>자유게시판</h2>
<ul>
    <li th:each="post : ${boardFree}">
        <a th:href="@{/postone/{post_id}(post_id=${post.post_id})}" th:text="${post.title}"></a> -
        <span th:text="${post.user_id}">작성자</span> -
        <span th:text="${post.created_at}">작성일</span>
    </li>
</ul>

<!-- 리뷰 게시판 목록 출력 -->
<h2>리뷰</h2>
<ul>
    <li th:each="post : ${boardReview}">
        <a th:href="@{/postone/{post_id}(post_id=${post.post_id})}" th:text="${post.title}"></a> -
        <span th:text="${post.user_id}">작성자</span> -
        <span th:text="${post.created_at}">작성일</span>
    </li>
</ul>

<!-- Q&A 게시판 목록 출력 -->
<h2>Q&A</h2>
<ul>
    <li th:each="post : ${boardQna}">
        <a th:href="@{/postone/{post_id}(post_id=${post.post_id})}" th:text="${post.title}"></a> -
        <span th:text="${post.user_id}">작성자</span> -
        <span th:text="${post.created_at}">작성일</span>
    </li>
</ul>

</body>
</html>