<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/mylist.css}">
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<header>
    <div id="logo_wrap">
        <h1 id="logo">CALTIZM</h1>
    </div>
    <div id="wrap_wrap">
        <div id="wrap1">
            <div id="header_input_wrap">
                <input type="text" id="header_input">
                <img th:src="@{/img/header_search.svg}" alt="" id="header_search">
            </div>
            <div id="header_icon_wrap">
                <img th:src="@{/img/header_alarm.svg}" alt="" id="header_alarm" class="header_icon">
                <div id="header_alarm_dropdown">
                    현재 내용이 없습니다.
                </div>
                <img th:src="@{/img/header_profile.svg}" alt="" id="header_profile" class="header_icon">
                <ul id="header_profile_dropdown">
                    <li class="header_profile_dropdown_list">로그인</li>
                    <li class="header_profile_dropdown_list">회원가입</li>
                </ul>
                <ul id="header_profile_dropdown2">
                    <li class="header_profile_dropdown_list">로그아웃</li>
                    <li class="header_profile_dropdown_list">마이페이지</li>
                </ul>
                <img th:src="@{/img/header_bucket.svg}" alt="" id="header_bucket" class="header_icon">
            </div>
        </div>
        <div id="wrap2">
            <ul id="header_nav">
                <li class="header_list">ALL</li>
                <li class="header_list">BRAND</li>
                <li class="header_list">FTA</li>
                <li class="header_list">TAX</li>
                <li class="header_list">COMMUNITY</li>
            </ul>
        </div>
    </div>
</header>
<main>
    <div id="wrap_wrap2">
        <p class="title">위시리스트</p>
        <hr>
        <ul class="list_wrap">
            <li class="list" th:each="item : ${wishlist}" th:data-product-id="${item.productId}">
                <div class="close_wrap" th:onclick="deleteItem(this)">
                    <img th:src="@{/img/close.svg}" alt="" class="close">
                </div>
                <p class="price" th:text="'€' + ${item.currentPrice}"></p>
                <div class="img_wrap">
                    <img th:src="${item.imageUrl}" alt="" class="img">
                </div>
                <div class="info_box">
                    <a th:href="@{/brand/{brandName}(brandName = ${item.brandName})}">
                        <p th:text="${item.brandName}"></p>
                    </a>
                    <a th:href="@{/product/{productId}(productId = ${item.productId})}">
                        <p class="info_title" th:text="${item.name}"></p>
                    </a>
                    <ul class="info_wrap">
                        <li class="info">
                            <span th:if="${item.originalPrice != null}" th:text="'€' + ${item.originalPrice}"></span>
                            <b class="small" th:if="${item.originalPrice != null}" th:text="정가"></b>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <script>
        function deleteItem(element){
            let item = element.closest(".list");
            let productId = item.dataset.productId;

            $.ajax({
                url: "/wishlist/delete/" + productId,
                type: "DELETE",
                success: function(response){
                    alert(response.message);
                    if(item){
                        item.remove();
                    }
                },
                error: function(xhr, status, error){
                    console.log("Error:", error);
                }
            });
        }
    </script>
</main>
</body>
</html>