<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.Caltizm.Repository.SearchProductRepository">


    <select id="findProductsByName" parameterType="string" resultType="map">
        SELECT
        product_id, -- 상품 ID
        name        -- 상품 이름
        FROM Product
        WHERE name LIKE CONCAT('%', #{name}, '%') -- 검색어와 일치하는 이름 검색
        LIMIT 10; -- 최대 10개까지 가져오기
    </select>

    <!-- ID로 상품의 전체 데이터 가져오기 -->
    <select id="findProductById" parameterType="string" resultType="com.example.Caltizm.DTO.ProductDTO">
        SELECT
        brand_id AS brand,
        product_id,
        image_url,
        name,
        original_price,
        current_price,
        description,
        category1_id AS category1,
        category2_id AS category2,
        category3_id AS category3,
        is_excludedVoucher,
        is_fta
        FROM Product
        WHERE product_id = #{id};
    </select>
    <!-- 모든 상품 데이터 가져오기 -->
    <select id="getAllProducts" resultType="com.example.Caltizm.DTO.ProductDTO">
        SELECT
        brand_id AS brand,
        product_id,
        image_url,
        name,
        original_price,
        current_price,
        description,
        category1_id AS category1,
        category2_id AS category2,
        category3_id AS category3,
        is_excludedVoucher
        FROM Product;
    </select>

</mapper>
