<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="wishlist">


    <insert id="insertWishlist" parameterType="WishlistRequestDTO">
        insert into wishlist(user_id, product_id)
        values((select user_id from user where email = #{email}), #{productId})
    </insert>

    <select id="selectWishlist" resultType="WishlistDTO">
        select w.wishlist_id as wishlistId, p.product_id as productId,
        p.name, b.name as brandName, p.image_url as imageUrl,
        p.original_price as originalPrice, p.current_price as currentPrice
        from wishlist w
        join product p
        on w.product_id = p.product_id
        join user u
        on w.user_id = u.user_id
        join brand b
        on b.brand_id = p.brand_id
        where u.email = #{email} and p.is_deleted = FALSE
        order by wishlist_id
    </select>

    <delete id="deleteWishlist" parameterType="WishlistRequestDTO">
        delete from wishlist where user_id = (select user_id from user where email = #{email}) and product_id = #{productId}
    </delete>

    <select id="isInWishlist" parameterType="WishlistRequestDTO" resultType="int">
        select count(*) from wishlist
        where user_id = (select user_id from user where email = #{email}) and product_id = #{productId}
    </select>

    <insert id="insertNotification">
        insert into notification(user_id, product_id, created_at)
        select w.user_id, w.product_id, now()
        from wishlist w
        join pricedrop p
        on w.product_id = p.product_id
        where p.notification_sent = FALSE;
    </insert>

    <update id="updateNotificationSent">
        update pricedrop
        set notification_sent = TRUE
        where notification_sent = FALSE;
    </update>

    <update id="setSafeUpdateOff">
        SET SQL_SAFE_UPDATES = 0;
    </update>

    <update id="setSafeUpdateOn">
        SET SQL_SAFE_UPDATES = 1;
    </update>

    <select id="selectNotification" resultType="NotificationDTO">
        select n.notification_id as notificationId, u.email, p.product_id as productId,
        p.name as productName, d.previous_price as previousPrice, d.current_price as currentPrice,
        n.created_at as createdAt, n.is_read as isRead
        from notification n
        join pricedrop d
        on n.product_id = d.product_id
        join product p
        on n.product_id = p.product_id
        join user u
        on n.user_id = u.user_id
        where u.email = #{email} and n.is_read = FALSE
    </select>

    <update id="readNotification">
        update notification set is_read = TRUE where notification_id = #{notificationId}
    </update>

    <select id="selectWishlistSize" resultType="int">
        select count(*) from wishlist where user_id = (select user_id from user where email = #{email})
    </select>



</mapper>